
@{
    ViewData["Title"] = "Guessing Game";
}


<h1>Guessing Game</h1>

<p>Du som har "Temp 37 i TempKollen" kan bli Kund hos oss enbart genom att klara spelet Guessing Game på max 7 försök!</p>
<p>Gissa på ett tal mellan 1 till 100 - svarar du fel meddelar spelet dig om talet är högre eller lägre än det du gissat.</pid="dangerText">
<p>Klarar du spelet under 7 gissningar så blir du uppgraderad till "HET" varpå du kan registrera dig som Kund hos oss.</p>


@if (ViewBag.Msg != null)
{
    <h3 id="dangerText">@ViewBag.Msg</h3>
}
else
{
    <h3 id="dangerText">Gissa ett nummmer - tryck sedan på knappen!</h3>
}

<form asp-action="Index" method="post">  @*ska köra Index post i controllern Game*@

    @*3. och letar upp Controllern "Game" som skickar oss till det andra Index (post-indexen) *@

    <input type="number" name="temp" value="" />     @*"name" (i detta fall temp) skall vara samma som inputvärdet i min Index/Post action*@
    <input id="dangerText" type="submit" value="Kolla nummer!" />  @*1. Knapp - när jag trycker på knappen *@

    @*post, vi vill hämnta in ett värde (post skickar data på ett dolt sätt, skickas inte i url:en*@

</form>


