@model int
<p>

    <a class="far fa-trash-alt" asp-action="Remove" asp-route-id="@Model">Radera</a>

</p>


@*1. Vi måste använda Model och en integer
2. Model använd sedan som i asp-actions remove*@