@model MVCBasics.Models.People
@{
    ViewData["Title"] = "Edit";
}

<h1>Uppdatera Kund</h1>

<form asp-action="Edit" asp-controller="People" method="post">

    <label class="col-sm-1" class="list-group-item" asp-for="Name">Namn: </label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label class="col-sm-1" class="list-group-item" asp-for="PhoneNumber">Telefon: </label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <label class="col-sm-1" class="list-group-item" asp-for="City">Stad: </label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <input type="submit" class="btn btn-success" value="Spara/Återgå" />

</form>




