body {
    background-color:aquamarine;
    padding:12px;
}

h1 {
    color:limegreen
    background-color:antiquewhite;
    padding:12px;
}

th {
    background-color:lightblue;
}


td {
    border: double;
    background-color: gainsboro;
}

ol > li > ul {
    color:blue;
    width:400px;
    border: double;
}

ol > li {
    font:bold;
    width: 600px;
    border: double;
}




/*funkar ej
button {
    border: double;
}*/

li, tr {
    border:double;
}




/*fungerar inte*/
tbody {
    border:dotted.thick.;
}



/*id - bara på enstaka*/
#dangerText {       /*<li id="dangerText">Look Ok but is not <code>- om du börjar med ett p istället för li så missar du siffran före</code>*/ 
    color:red;
}

/*class - på alla*/
.goldenText {       /*<li class="goldenText">Only have li element inside ol ul elements</li>*/
    color:gold;
}


    
    