
@{
    ViewData["Title"] = "Forsale";
}

<h1>Forsale</h1>

<ol>
    <li>
        <p>NewStuff</p>
        <ul>
            <li>NewStuff1</li>
            <li>NewStuff2</li>
            <li>NewStuff3</li>
        </ul>
    </li>

    <li>
        <p>New Secret Boxes</p>
        <ul>
            <li>SecretBox1</li>
            <li>SecretBox2</li>
            <li>SecretBox3</li>
        </ul>
    </li>

</ol>