
@{
    ViewData["Title"] = "Forsale";
}

<h1>Forsale</h1>

<ol>
    <li>
        <p>NewStuff</p>
        <ul>
            <li>A Perfect Mind</li>
            <li>Do You Mind</li>
            <li>Mind Your Own Business</li>
        </ul>
    </li>

    <li>
        <p>New Secret Boxes</p>
        <ul>
            <li>Secret Mind Box</li>
            <li>Mind Full Box</li>
            <li>Out of your Mind Box</li>
        </ul>
    </li>

</ol>