
@{
    //GCMemoryInfo index.cshtml får rubriken "Company""
    ViewData["Title"] = "The Company (Witten in Views/Home/Index.cshtml)";
}

<h1>
    Company Uniqe!
</h1>

<p>Välkommen till oss på "Company Unique", vi hjälper dit att hitta det där lilla extra.</p>



<dl>
    <dt>Contact</dt>
    <dd>NoPhone</dd>
    <dd>NoSnailMail</dd>
    <dd>NoMail@gmail.com</dd>
</dl>