
@{
    //GCMemoryInfo index.cshtml får rubriken "Company""
    ViewData["Title"] = "The Company (Witten in Views/Home/Index.cshtml)";
}

<h1>
    The "Company unique" - make your local business global!
</h1>


<p>Välkommen till oss på "Company Unique", vi hjälper dit att hitta det där lilla extra som gör att du kan expandera din verskamhet globalt.</p>


<dl>
    <dt id="dangerText">Contact</dt>
    <dd>NoPhone</dd>
    <dd>NoSnailMail</dd>
    <dd>NoMail@gmail.com</dd>
</dl>
