
@{
    //GCMemoryInfo index.cshtml får rubriken "Company""
    ViewData["Title"] = "The Company (Witten in Views/Home/Index.cshtml)";
}

<h1>Company
    
    <p>This is a really really bad company! (Witten in Views/Home/Index.cshtml)</p>

</h1>

