
@{
    ViewData["Title"] = "Sold";
}

<h1>Sold</h1>

<ol>
    <li>
        <p>SoldStuff</p>
        <ul>
            <li>Rakapparat för män utan skäggväxt</li>
            <li>Solglasögon för män med emaljögon</li>
            <li>Tappad haka</li>
        </ul>
    </li>

    <li>
        <p>Sold Seacret Boxes</p>
        <ul>
            <li>Dirty Box</li>
            <li>Double Dirty Box</li>
            <li>Tripple Dirty Box</li>
        </ul>
    </li>

</ol>