
@{
    ViewData["Title"] = "Sold";
}

<h1>Sold</h1>

<ol>
    <li>
        <p>SoldStuff</p>
        <ul>
            <li>SoldStuff1</li>
            <li>SoldStuff2</li>
            <li>SoldStuff3</li>
        </ul>
    </li>

    <li>
        <p>Sold Seacret Boxes</p>
        <ul>
            <li>SoldBox1</li>
            <li>SoldBox2</li>
            <li>SoldBox3</li>
        </ul>
    </li>

</ol>